<head>
  <link rel="stylesheet" href="/navbar.css" />
</head>
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <img src="/logo3.png" height="82" class="imgNav" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/api/candidates">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/auth/Profile">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/votes">Results</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/auth/favorites">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link logout" href="/api/auth/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
